.rating {
  word-break: break-all;
  padding: 5px;
  border-radius: 4px;
  min-height: 34px;
}

.rating__positive {
  background-color: rgba(50, 220, 50, 0.1);
}

.rating__negative {
  background-color: rgba(220, 50, 50, 0.1);
}
